html {
    background-color: var(--my-white);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: var(--my-white);
  }
  50% {
    background-color: var(--my-really-light-blue);
  }
  100% {
    background-color: var(--my-white);
  }
}

@media (prefers-color-scheme: dark) {
    html {
        color: var(--my-white);
        background-color: var(--my-black);
    }

    @keyframes color {
      0% {
        background-color: var(--my-black);
      }
      50% {
        background-color: var(--my-dark-blue);
      }
      100% {
        background-color: var(--my-black);
      }
    }
}
